.vs/**
.vscode-test/**
node_modules/**
src/**
test/**
out-test/**
tsconfig.json
tsconfig.test.json
eslint.config.mjs
esbuild.config.mjs
package-lock.json
.prettierrc.json
.prettierignore
runtime/server/**/.gitkeep
runtime/server/**/*.pending-*
server/**
*.vsix
